---
import Layout from "../layouts/Layout.astro";
import "./styles/customBase.css";
---

<Layout
  title="Free Digital Business Card Creator for Dentists - Quick & App-Free"
  description="Elevate your professional networking with our free digital business card creator, designed specifically for dentists. Quick, easy, and no app required for recipients. Make impactful connections today.">
  <div class="flex flex-col">
    <span><a href="/card/pchoti" transition:name="fullname">Dr Pavinee S Chotiwannaporn DDS, MSc</a></span>
    <!-- <span><a href="/card/pchoti">Dr Pavinee S Chotiwannaporn DDS, MSc</a></span> -->
    <span><a href="/card/abrown">Aaron Brown</a></span>
</div>
</Layout>
