---
import Layout from "../layouts/Layout.astro";
import "./styles/customBase.css";
---

<Layout
  title="Free Digital Business Card Creator - Quick & App-Free"
  description="Elevate your professional networking with our free digital business card creator. Quick, easy, and no app required for recipients. Make impactful connections today.">
  <span>Main Site</span>
</Layout>
