---
type ContactType =
  | "email"
  | "phone"
  | "website"
  | "address"
  | "socialMedia"
  | "review";

type Props = {
  value: string;
  type: ContactType;
};

const { value, type } = Astro.props;

function ahrefPrefix() {
  switch (type) {
    case "email":
      return "mailto:";
    case "phone":
      return "tel:";
    case "address":
      return "https://maps.google.com/?q=";
    default:
      return "";
  }
}

function svgData(type: ContactType) {
  switch (type) {
    case "email":
      return "M16.5 12a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 10-2.636 6.364M16.5 12V8.25";
    case "phone":
      return "M14.25 9.75v-4.5m0 4.5h4.5m-4.5 0l6-6m-3 18c-8.284 0-15-6.716-15-15V4.5A2.25 2.25 0 014.5 2.25h1.372c.516 0 .966.351 1.091.852l1.106 4.423c.11.44-.054.902-.417 1.173l-1.293.97a1.062 1.062 0 00-.38 1.21 12.035 12.035 0 007.143 7.143c.441.162.928-.004 1.21-.38l.97-1.293a1.125 1.125 0 011.173-.417l4.423 1.106c.5.125.852.575.852 1.091V19.5a2.25 2.25 0 01-2.25 2.25h-2.25z";
    case "website":
      return "M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25";
    case "address":
      return "M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"
  }
}
---

<li>
  <a href={`${ahrefPrefix()}${value}`} class="flex items-center space-x-2">
    <!-- Insert email icon here -->

    <div class="flex items-center">
      <div class="bg-primary rounded-full p-1 mr-2 text-white">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path stroke-linecap="round" d={svgData(type)}></path>
        </svg>
      </div>
      <div class="text-gray-500 hover:text-accent"><span>{value}</span></div>
    </div>
  </a>
</li>
